body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding:0;
}

#header-pic {
  max-width: 100%;
  min-width: 100%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* width: 50%; */
}
.text-center {
  text-align: center;
  font-size: 1.5em;
}

.centered {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hundredvh {
  height: 90vh;
  max-width: 70%;
  max-height: 80%;
}

/* .main-page-block {
  max-width: 100vw;
  margin-top: 2em;
} */

/* .container {
  max-width: 100vw;
  margin: 1em;
  margin-top: 2em;
  text-align: justify;
} */
/* .main-body-text {
  max-width: 100vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#header-logo {
  scale: 85%;
}

#navbar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#navbar {
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.979);
  padding: 0.5em;
	position: sticky;
  z-index: 100;
	top: 0;
  text-align: center;
}
#navbar > ul {
  max-width: 100vw
}

#navbar > ul > li {
  padding: 0.5em;
}

.navlink {
  text-align: justify;
  color:black;
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.navlink:hover {
  color: rgb(0, 59, 0);
  text-shadow: 0.1em 0.1em 0.1em greenyellow;
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
}

.show-hide-btn {
  margin: 0.5em;
  display: inline-block;
}



.flex-row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
}



.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
}

.none-display {
  opacity: 0;
}

*/

#contact-list {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#contact-list > li {
  margin: 1em;
}

#contact-list > li > a {
  color: black;
  text-decoration: none;
}


#contact-list > li > a:hover {
  color: rgb(0, 59, 0);
  text-shadow: 0.1em 0.1em 0.1em greenyellow;
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
}

.telegram {
  scale: 85%;
} 

.edit-btn {
  position: absolute;
}

.no-marg-pad {
  margin: 0;
  padding:0;
}

.bottom-hr {
  padding: 0;
}

.login-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {

  #navbar {
    flex-direction: column;
  }

  #navbar > ul {
    flex-direction: column;
  }

} */